.header {

    nav {
        background-color: white;
        .logo-nav {
            width: 120px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        div {
            div {
                ul {
                    display: flex;
                    gap: 2rem;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}