@use "../utilidades/mixin";

.header {

    nav {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background-color: white;
        
        .logo-nav {
            width: 120px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        div {
            div {
                .logo-nav-responsive {
                    width: 190px;
                    img {
                        @include mixin.img-responsiva;
                    }
                }
            }
            div {
                ul {
                    display: flex;
                    gap: 2rem;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}