.header {
    height: 60px;

    .nav-altura {
        background-color: white;
        height: 60px;
        a {
        }
        div {
            div {
                ul {
                    display: flex;
                    gap: 2rem;

                    li {
                        a {
                            text-transform: uppercase;
                            padding: 4px;
                        }
                    }
                }
            }
        }
    }
}