@import "../utilidades/mixin";

.main-inicio {
    .banner {
        height: 100vh;
        position: relative;
        z-index: -1;
        overflow: hidden;

        .back-negro {
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 5;
            background: rgba(0, 0, 0, 0.6392156863);
        }

        .img-inicio {
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-image: url(../../img/banner-1.jpg);
            background-position: center;
            // animation: banner 10s infinite linear alternate;
            background-size: cover;
            position: absolute;
        }

        .inicio-text {
            position: relative;
            height: calc(100vh - 70px);
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 6;

            .h1-inicio {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 300;
                font-size: clamp(1.5rem, 5vw, 5rem);
            }

            h2 {
                position: absolute;
                bottom: 20px;
                font-size: 1.2rem;
                @extend .h1-inicio;
            }
        }
    }


    .section-mision-historia {
        @include grid(grid, repeat(2, 1fr), repeat(1, 1fr));
        gap: 2rem;
        padding: 4rem 2rem;
        background-color: $color-black;
        color: rgb(176, 176, 176);

        .section-mision-historia-item {
            figure {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            h2 {
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $color-white;

            }

            p {}
        }
    }
}