@use "../../utilidades/mixin";
@media screen and (min-width: 992px) {
    .main-inicio {
        .section-mision-historia {
            grid-template-columns: repeat(2, 1fr);
        }

        .section-actividades {
            grid-template-columns: repeat(4, 1fr);
        }

        .probar-clase-section {

            // grid-template-columns: repeat(2, 1fr);
            .probar-clase-texto {
                a {
                    width: 40%;
                }
            }

        }

        

        .contacto-section {
            .formulario-contenedor {

                /* grid-template-areas:
                    "input-nombre" "input-apellido"
                    "input-email input-email"
                ;

                .formulario-input-contenedor input:nth-child(1) {
                    grid-area: ;
                } */
                .formulario-input-contenedor input:nth-child(1) {
                    grid-column: span 2;
                }

                .formulario-input-contenedor input:nth-child(2) {
                    grid-column: span 2;
                }

                .formulario-input-contenedor input:nth-child(3) {
                    grid-column: 1 / -1;
                }

            }
        }

    }

    .footer-principal {
        grid-template-columns: repeat(2, 1fr);

        .footer-logo-contenedor {
            @include mixin.flex-direccion(flex, row);

            p {
                text-align: left;

                span {
                    display: block;

                    span {
                        display: block;
                    }
                }
            }
        }

        .footer-redes-contenedor {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .footer-derechos-autor {
            grid-column: span 2;


        }
    }


}


@media screen and (min-width: 1024px){
    .main-inicio {
        .planes-section {
            .planes-contenedor {
                article:nth-child(2) {
                    position: relative;
                    bottom: 40px;
                }
            }
        }
    }
}