@media screen and (min-width: 992px) {
    .main-inicio {
        .section-mision-historia {
            grid-template-columns: repeat(2, 1fr);
        }

        .section-actividades {
            grid-template-columns: repeat(4, 1fr);
        }
        .probar-clase-section {
            // grid-template-columns: repeat(2, 1fr);
            .probar-clase-texto {
                a {
                    width: 40%;
                }
            }
    
        }
    }

    .footer-principal {
        grid-template-columns: repeat(2, 1fr);

        .footer-logo-contenedor {
            @include flex-direccion(flex, row);
        
            p {
                text-align: left;
                span {
                    display: block;

                    span {
                        display: block;
                    }
                }
            }
        }

        .footer-redes-contenedor {
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .footer-derechos-autor {
            grid-column: span 2;
           
    
        }
    }

    
}