@import "../../utilidades/mixin";

@media screen and (min-width: 600px) {
    .main-inicio {
        
        .section-actividades { 
            grid-template-columns: repeat(2, 1fr);
        }
        
    }

    .footer-principal {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "logo"
        "redes"
        "parrafo parrafo"; // nueva fila para el párrafo

        
    }
}